# Ignorar arquivos de log
*.log

# Ignorar credenciais e variáveis de ambiente
.env

# Ignorar dependências (caso use composer)
vendor/

# Ignorar cache ou arquivos temporários
cache/
tmp/
*.tmp

# Ignorar banco de dados local
*.sqlite
*.sqlite3
*.db

# Ignorar pasta de dados
data/


# Ignorar IDEs e editores
.vscode/
.idea/
