# Ignorar arquivos de log
*.log

# Ignorar credenciais e variáveis de ambiente
.env

# Ignorar dependências (caso use composer)
vendor/
node_modules/

# Ignorar cache ou arquivos temporários
cache/
tmp/
*.tmp

# Ignorar banco de dados local
*.sqlite
*.sqlite3
*.db

# Ignorar pasta de dados
data/

# Ignorar arquivos gerados pelo NestJS
dist/
coverage/

# Ignorar IDEs e editores
.vscode/
.idea/
